/build
*~
*.swp
*.class
*.apk
doc/**/*
log/**/*
bin/**/*
gen/**/*
bin/*
gen/*
archive/*
doc/*
log/*
.svn/*
.settings/*
/bin/
local.properties
project.properties
/project.properties
/gen/
/archive/
/Doc/
/logs/
*.iml
.gradle
local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/archive
/build
/Log
/gradle
/app/build
*.zip
*.lst
gradlew
.gitignore/app/build